<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>LagerLogger</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/beerIcon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/app.css"/>
</head>

<body>  
  {{{body}}}
</body>

</html>