html, body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    width: 40;
    padding: 5px;
    float: left;
    border-radius: 4px;
}

#logo:hover {
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.8s ease;
    background-color: #C96E12;
}

nav {
    width: 100%;
    height: 50px;
    /* background-color: #EC9D00; */
    background-image: linear-gradient(to right, #F6C101 , #EC9D00);
    box-shadow: 0px 4px 14px 0px rgba(119, 53, 53, 0.14);
}

.navlink {
    cursor: pointer;
    padding-top: 10px;
    padding-right: 10px;
    color: black;
    float: right;
}

.navlink img, .navlink img:link, .navlink img:visited, .navlink img:hover, .navlink img:active {
    cursor: pointer;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.4s ease;
}

.navlink img:hover {
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.8s ease;
    background-color: #C96E12;
}

.beerWindow {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.newBeerContent {
    background-color: #ffffff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #C96E12;
    border-radius: 4px;
    width: 20rem; 
    height: 14rem;
}

  /* The Close Button */
.close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.beerForm {
    height: 12rem;
    width: 20rem;
    margin: 0 auto;
}

.beerForm label {
    /* display: inline-block;
    margin-right: 0.5rem;
    margin-left: 1rem;
    font-size: 1.2em;
    float: left;
    color: black; */
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.beerForm input[type=text] {
    font-size: 1.1em;
    width: 150px;
    border: 1px solid #EC9D00;
    border-radius: 4px;
    height: 1.5rem;
    margin-bottom: 0.5rem;
}

.beerForm input[type=text]:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #C96E12;
}

.makeBeerSubmit {
    cursor: pointer;
    transition: background-color 0.4s ease;
    background-color: #DF8D03;
    border: 1px solid #DF8D03;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.makeBeerSubmit:link, .makeBeerSubmit:visited, .makeBeerSubmit:hover, .makeBeerSubmit:active {
    color: white;
}

.makeBeerSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #C96E12;
    border-color: #C96E12;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 4rem;
    font-size: 1.2em;
}

.mainForm h3, #changePassForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

#loginTitle {
    margin-top: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
}

#loginSubText {
    width: 35rem;
    margin-top: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#changePassForm {
    width: 500px;
    margin: 0 auto;
    font-size: 1.2em;
}

#changePassForm label {
    display: inline-block;
    width: 255px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit, .submitForm, #newBeerBtn {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #EC9D00;
    border: 1px solid #EC9D00;
    border-radius: 4px;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.submitForm {
    width: 100px;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active, .submitForm:link, .submitForm:visited, .submitForm:hover, .submitForm:active {
    color: white;
}

.formSubmit:hover, .submitForm:hover, #newBeerBtn:hover {
    cursor: pointer;
    transition: background-color 0.4s ease;
    background-color: #C96E12;
}

#user, #pass, #pass2, #currPass, #newPass, #newPass2 {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    border: 1px solid #EC9D00;
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 4px;
}

#user:focus, #pass:focus, #pass2:focus, #currPass:focus, #newPass:focus, #newPass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #C96E12;
}

#beerMessage {
    width: 100%;
    margin-top: 8rem;
    display: none;
    top: 20rem;
    height: 100px;
    position: absolute;
    z-index: 200;
    overflow: hidden;
    margin-left: 42%;
}

#beerMessage h3 {
    position: absolute;
    margin: 0 auto;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: #EC9D00;
}

#beers {
    width: 80%;
    min-width: 400px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.beer, .recipe, .pairing {
    display: inline-block;
    width: 20rem;
    margin: 0 auto;
    border: 2px solid #EC9D00;
    border-radius: 4px;
    padding: 10px;
    overflow: hidden;
    margin-right: 1rem;
    margin-bottom: 1rem;
    /* box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.08); */
}

img.beerDefaultIcon {
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyBeer {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.beerName {
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

button.deleteBeer {
    cursor: pointer;
    background: #EC9D00;
    border: 1px solid #EC9D00;
    border-radius: 4px;
    color: #ffffff;
    float: right;
    padding: 5px 10px;
}

button.upgradeButton {
    cursor: pointer;
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 3rem;
    font-size: 1.2em;
    width: 100px;
    background-color: #EC9D00;
    border: 1px solid #EC9D00;
    border-radius: 4px;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

button.deleteBeer:hover, button.upgradeButton:hover{
    background: #C96E12;
    transition: background 1s;
}

.beerId {
    display: none;
}

#changePassTitle, #recipesTitle, #pairingsTitle, #upgradeTitle {
    text-align: center;
}

.recipe a {
    color: #C96E12;
    text-decoration: none;
}

.recipeImg {
    width: 20rem;
}

#upgradeContent {
    text-align: center;
}

#ads {
    background-color: #C96E12;
    height: 4rem;
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}