<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>LagerLogger</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/beerIcon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/app.css"/>
</head>

<body>
  <nav>
    <a href="/login"><img id="logo" src="/assets/img/beerIcon.png" alt="beer logo"/></a>
    <div class="navlink">
      <a id="recipes" href="#" title="Recipes"><img src="/assets/img/recipe.png" id="recipe" alt="recipe icon" style="width: 35px"/></a>
      <a id="pairings" href="#" title="Pairings"><img src="/assets/img/pairing.png" id="pairing" alt="pairing icon" style="width: 35px"/></a>
      <a id="upgrade" href="#" title="Upgrade"><img src="/assets/img/upgrade.png" id="upgrade" alt="upgrade icon" style="width: 35px"/></a>
      <a id="changePassword" href="#" title="Change Password"><img src="/assets/img/settings.png" id="settings" alt="gear icon" style="width: 35px"/></a>
      <a href="/logout"><img src="/assets/img/logout.png" id="logout" alt="logout icon" style="width: 35px"/></a>
    </div>
  </nav>
  <section id="makeBeer">
  </section>
  <section id="beers">
  </section>
  <div id="beerMessage">
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/bundle.js"></script>
</body>

</html>