<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>LagerLogger</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/beerIcon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/app.css"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>

<body> 
  <nav><a href="/login"><img id="logo" src="/assets/img/beerIcon.png" alt="logo"/></a>
  </nav>
  <section id="notFound">
      <h1>Page Not Found</h1>
      <img id="pourGIF" src="https://media.giphy.com/media/2kSfEOhJJApaYXsRJ7/source.gif" alt="404 pour gif"/>
      <p>GIF by Petter Pentilä</p>
  </section>
  <script src="/assets/bundle.js"></script>
</body>

</html>