/*variables*/
/*Main styles across all pages*/
html, body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%; }

/*style logo*/
#logo {
  border-radius: 4px;
  float: left;
  padding: 5px;
  width: 40; }

#logo:hover {
  background-color: #C96E12;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.8s ease; }

/*style nav bar*/
nav {
  background-image: linear-gradient(to right, #F6C101, #EC9D00);
  box-shadow: 0px 4px 14px 0px rgba(119, 53, 53, 0.14);
  height: 50px;
  width: 100%; }

.navlink {
  color: black;
  cursor: pointer;
  float: right;
  padding-right: 10px;
  padding-top: 10px; }

.navlink img, .navlink img:link, .navlink img:visited, .navlink img:hover, .navlink img:active {
  border-radius: 4px;
  color: black;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.4s ease; }

.navlink img:hover {
  background-color: #C96E12;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.8s ease; }

#makerTitle {
  text-align: center; }

/*new beer entry modal
- base modal styling from W3Schools */
.beerWindow {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

.newBeerContent {
  background-color: #ffffff;
  border: 1px solid #C96E12;
  border-radius: 4px;
  height: 14rem;
  margin: 15% auto;
  padding: 20px;
  width: 20rem; }

/*close button x*/
.close {
  color: #aaa;
  float: left;
  font-size: 25px;
  font-weight: bold;
  margin-top: -1rem;
  margin-left: -0.75rem; }

.close:hover, .close:focus {
  color: black;
  cursor: pointer;
  text-decoration: none; }

/*search input section*/
.searchForm {
  height: 2.4rem;
  margin: 0 auto;
  width: 18rem; }
  .searchForm input[type=text] {
    border: 1px solid #EC9D00;
    border-radius: 4px;
    font-size: 1.1em;
    height: 1.5rem;
    margin-bottom: 0.5rem;
    width: 150px; }
  .searchForm input[type=text]:focus {
    box-shadow: 0px 0px 1px 1px #C96E12;
    outline: none; }

/*search beer sumbit button*/
.searchSubmit {
  align-content: center;
  background-color: #EC9D00;
  border: 1px solid #EC9D00;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  float: right;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 10px;
  transition: background-color 0.4s ease; }

.searchSubmit:link, .searchSubmit:visited, .searchSubmit:hover, .searchSubmit:active {
  color: white; }

.searchSubmit:hover {
  background-color: #C96E12;
  border-color: #C96E12;
  transition: background-color 0.4s ease; }

/*new beer form*/
.beerForm {
  height: 14rem;
  margin: 0 auto;
  width: 20rem; }
  .beerForm label {
    display: inline-block;
    font-size: 1.2em;
    margin-right: 10px;
    text-align: right;
    width: 100px; }
  .beerForm input[type=text] {
    border: 1px solid #EC9D00;
    border-radius: 4px;
    font-size: 1.1em;
    height: 1.5rem;
    margin-bottom: 0.5rem;
    width: 150px; }
  .beerForm input[type=text]:focus {
    box-shadow: 0px 0px 1px 1px #C96E12;
    outline: none; }

.ratingSelect {
  display: inline; }

.ratingSelect select {
  border-color: #EC9D00;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  width: 4rem; }

.ratingSelect select option {
  padding: 30px; }

/*new beer sumbit button*/
.makeBeerSubmit {
  align-content: center;
  background-color: #EC9D00;
  border: 1px solid #EC9D00;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  float: right;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  transition: background-color 0.4s ease; }

.makeBeerSubmit:link, .makeBeerSubmit:visited, .makeBeerSubmit:hover, .makeBeerSubmit:active {
  color: white; }

.makeBeerSubmit:hover {
  background-color: #C96E12;
  border-color: #C96E12;
  transition: background-color 0.4s ease; }

/*main login form*/
.mainForm {
  font-size: 1.2em;
  height: 300px;
  margin: 0 auto;
  padding-top: 4rem;
  width: 350px; }
  .mainForm label {
    display: inline-block;
    font-size: 1.2em;
    margin-right: 10px;
    text-align: right;
    width: 100px; }

.mainForm h3, #changePassForm h3 {
  text-align: center; }

/*login and signup page title*/
#loginTitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  width: 30rem; }

#loginSubText {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  text-align: center;
  width: 35rem; }

/*change password view form*/
#changePassForm {
  font-size: 1.2em;
  margin: 0 auto;
  width: 500px; }
  #changePassForm label {
    display: inline-block;
    font-size: 1.2em;
    margin-right: 10px;
    text-align: right;
    width: 255px; }

/*styles for large signup, new beer, login buttons*/
.formSubmit, .submitForm, #newBeerBtn {
  background-color: #EC9D00;
  border: 1px solid #EC9D00;
  border-radius: 4px;
  color: white;
  display: block;
  font-size: 1.2em;
  margin: 0 auto;
  margin-top: 14px;
  padding: 3px 0px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.4s ease;
  width: 100px; }

.submitForm {
  width: 100px; }

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active,
.submitForm:link, .submitForm:visited, .submitForm:hover, .submitForm:active {
  color: white; }

.formSubmit:hover, .submitForm:hover, #newBeerBtn:hover {
  background-color: #C96E12;
  cursor: pointer;
  transition: background-color 0.4s ease; }

#newBeerBtn {
  margin-top: 0px; }

/*password input fields*/
#user, #pass, #pass2, #currPass, #newPass, #newPass2 {
  border: 1px solid #EC9D00;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  font-size: 1.1em;
  text-align: center;
  width: 180px; }

#user:focus, #pass:focus, #pass2:focus, #currPass:focus, #newPass:focus, #newPass2:focus {
  box-shadow: 0px 0px 1px 1px #C96E12;
  outline: none; }

/*error message*/
#beerMessage {
  display: none;
  height: 100px;
  margin-left: 42%;
  margin-top: 8rem;
  overflow: hidden;
  position: absolute;
  top: 20rem;
  width: 100%;
  z-index: 200; }
  #beerMessage h3 {
    margin: 0 auto;
    position: absolute; }

#errorMessage {
  color: #EC9D00;
  font-weight: bold; }

/*main maker page content*/
#beers {
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 1rem;
  min-width: 400px;
  width: 80%; }

/*cards for page data*/
.beer, .recipe, .pairing {
  border: 2px solid #EC9D00;
  border-radius: 4px;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-right: 1rem;
  overflow: hidden;
  padding: 10px 10px 0px 10px;
  width: 20rem; }

.beerGroup1 {
  float: left;
  width: 10rem; }

.beerGroup2 {
  float: right;
  width: 10rem; }

img.beerDefaultIcon {
  border-radius: 4px;
  float: left;
  height: 50px;
  margin-right: 10px;
  margin-top: 10px;
  width: 50px; }

h3.beerName {
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 65px; }

.recipe, .pairing {
  padding: 10px; }

button.deleteBeer {
  background: #EC9D00;
  border: 1px solid #EC9D00;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  float: right;
  padding: 5px 10px; }

/*style for no beers filler text*/
h3.emptyBeer {
  font-size: 1.5em;
  margin: 0 auto;
  margin-top: 18px;
  text-align: center;
  width: 400px; }

/*style for upgrade account button*/
button.upgradeButton {
  background-color: #EC9D00;
  border: 1px solid #EC9D00;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 3px 0px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.4s ease;
  width: 100px; }

/*hover state handler for upgrade and delete beer buttons*/
button.deleteBeer:hover, button.upgradeButton:hover {
  background: #C96E12;
  transition: background 1s; }

/*hide beer id
- used for delete beer function*/
.beerId {
  display: none; }

/*center titles for subviews*/
#changePassTitle, #recipesTitle, #pairingsTitle, #upgradeTitle, #recsTitle {
  text-align: center; }

/*style link for recipes view*/
.recipe a {
  color: #C96E12;
  text-decoration: none; }

/*standardize display of sub-images*/
.recipeImg, .pairImg {
  border-radius: 4px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  width: 4rem; }

/*center upgrade view content*/
#upgradeContent {
  text-align: center; }

#subtext {
  animation: fadeOut 1s, shrink 0.1s;
  display: none;
  -webkit-animation: fadeOut 1s, shrink 0.1s; }

#pairTitle:hover + #subtext {
  animation: fadeIn 1s, grow 0.1s;
  cursor: pointer;
  display: block;
  -webkit-animation: fadeIn 1s, grow 0.2s; }

/*center not found text*/
#notFound h1, #notFound p {
  text-align: center; }

/*center gif on 404 page*/
#pourGIF {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*ad banner*/
#ads {
  background-color: #C96E12;
  height: 4rem;
  text-align: center;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0; }

/*CSS animations for pairing page content*/
/*fade in text*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*slow increasing of display box size*/
@-webkit-keyframes grow {
  from {
    height: 0; }
  to {
    height: auto; } }

@keyframes grow {
  from {
    height: 0; }
  to {
    height: auto; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes shrink {
  from {
    height: auto; }
  to {
    height: 0; } }

@keyframes shrink {
  from {
    height: auto; }
  to {
    height: 0; } }

.ratingSelect {
  display: inline; }

.ratingSelect select {
  cursor: pointer;
  border-color: #EC9D00;
  padding: 0.25rem 1rem;
  width: 4rem;
  font-size: 1rem;
  border-radius: 4px; }

.ratingSelect select option {
  padding: 30px; }
